<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head></head>
<body>

<footer th:fragment="footer">
    <div class="bottomnav">
        RPG Realm &copy; <i>Role Playing Game Management System&nbsp;<a href="/about-us">[About the Developers]</a></i>
    </div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
</script>
    <form type="hidden" name="myform" th:action="@{/logout}" th:method="post">
    </form>
</footer>

</body>
</html>