<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>

</head>
<body>

<nav id="my-nav" class="navbar navbar-default" th:fragment="mainNavbar">
    <div class="container-top"><img src="/images/main/logo.jpg"/></div>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="/user_profile">Your Profile</a>
        <a href="/create_character">Create Character</a>
        <a href="/create_game">Create Game</a>
        <a href="/search_games">View Games</a>
    </div>

</nav>

</body>
</html>
