<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<nav id="my-nav" class="navbar navbar-default" th:fragment="mainNavbar">
    <div class="container-top"><img src="/images/main/logo.jpg"/></div>
    <div class="topnav">
        <a href="/home">Home</a>
        <a href="/user-profile">Your Profile</a>
        <a href="/create-character">Create Character</a>
        <a href="/create-game">Create Game</a>
        <a href="/search-games">View Games</a>
    </div>
</nav>
</body>
</html>