<html xmlns:th="https://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('All posts')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<div class="title-container">
    <div class="title-column-left">Please Register to Create Your Account</div>
    <div class="title-column-right"><img src="/images/main/small-key.jpg"/></div>
</div>
<div class="inner-container">
    <div class="user-container">
        <div class="form_container">
            <form th:action="@{/sign-up}" method="post" th:object="${newUser}">
                <div class="row">
                    <div class="column">Username:</div>
                    <div class="column"><input type="text" class="form_fields" th:field="*{username}"/></div>
                </div>
                <div class="row">
                    <div class="column">Password:</div>
                    <div class="column"><input type="password" class="form_fields" th:field="*{password}"/></div>
                </div>
                <div class="row">
                    <div class="column">Email Address:</div>
                    <div class="column"><input type="email" class="form_fields" th:field="*{email}"/></div>
                </div>
                <div class="row">
                    <div class="column">Birth Date:</div>
                    <div class="column"><input type="date" class="form_fields" th:field="*{birth_date}"/></div>
                </div>
                <div class="row">
                    <div class="column"></div>
                    <div class="column"><input type="submit" value=" Submit and Register &nbsp;" class="form_fields"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>