<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('RPG Realm')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<div class="title-container">
    <div class="title-column-left" th:text="${user.username+'''s Available Characters:'}"></div>
    <div class="title-column-right"><img src="/images/main/small-sword.jpg"/></div>
</div>
<div class="inner-container">
    <div class="game-container" sec:authorize="isAuthenticated()">
        <!-- Content of the page -->
        <div class="form_container" th:each="character: ${characterList}">
            <span class="red-text" th:text="${character.name}"></span>
            <h4 th:text="${'Class: '+character.type}"></h4>
            <p th:text="${character.description}"></p>
        <div class="glow-button"><a th:href="'/view-character/'+${character.id}">View Character</a></div>
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>