<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('All posts')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<div class="title-container">
    <div class="title-column-left">Create a New Character:</div>
    <div class="title-column-right"><img src="/images/main/knight-helmet.jpg"/></div>
</div>
<div class="inner-container">
    <div class="character-container" sec:authorize="isAuthenticated()">
        <div class="form_container">
            <form th:action="@{/create-character}" method="post" th:object="${character}">
                <div class="row">
                    <div class="column">Name:</div>
                    <div class="column"><input type="text" name="name" class="form_fields" th:field="*{name}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="column">Type:</div>
                    <div class="column"><input type="text" name="type" class="form_fields" th:field="*{type}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="column">Description:</div>
                    <div class="column"><input type="text" name="type" class="form_fields"
                                               th:field="*{description}"/></div>
                </div>
                <div class="row">
                    <div class="column"></div>
                    <div class="column"><input type="submit" value=" Submit and Register &nbsp;"
                                               class="form_fields"/></div>
                </div>
            </form>
            <script type="text/javascript">
                const client = filestack.init('');
                client.pick();
            </script>

        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>