<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('RPG Realm')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<div class="title-container">
    <div class="title-column-left">Game Location: </div>
    <div class="title-column-right"><img src="/images/search/compass.jpg"/></div>
</div>
<div class="inner-container">
    <div class="game-container">
            <div id="map-canvas"></div>
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
<script th:src="'https://maps.googleapis.com/maps/api/js?key=AIzaSyC2l4f1Cybdy8Xr-IAze1e-uTCGNsYb_Cw'">
</script>
<script th:inline="javascript">
    (function() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    })();
</script>


</body>
</html>