<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('All posts')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<div class="container-main">
    <div class="title-container">
        <div class="title-column-left">Join Other Worlds and Choose Your Adventure</div>
        <div class="title-column-right"><img src="/images/main/treasure_chest.jpg"/></div>
    </div>
    <div class="inner-container">
        <div class="home-container" th:if="${user==null}">

            <div class="glow-button">
                <a href="/login"><img src="/images/home/login.gif"/></a>
            </div><br/>
            <div class="glow-button">
                <a href="/sign-up"><img src="/images/home/register.gif"/></a>
            </div>
        </div>
        <div class="home-container" th:if="${user!=null}">

            <div class="glow-button">
                <a href="/user-profile"><img src="/images/home/user-profile.gif"/></a>
            </div><br/>
            <div class="glow-button">
                <a href="/search-games"><img src="/images/home/view-games.gif"/></a>
            </div>
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>