<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('All posts')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>

    <span class="glow-button" th:each="game : ${gameList}">
        <span class="glow-button"><a th:href="'/view-game/'+${game.id}">Link to game</a></span>
        <span class="glow-button" th:text="${game.name}"></span>
        <span class="glow-button" th:text="${game.description}"></span>

    </span>

<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>