<html xmlns:th="https://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('Oops!')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<div class="container-main">
    <div class="title-container">
        <div class="title-column-left">You Entered an Entropy Bubble...</div>
        <div class="title-column-right"><img src="/images/main/treasure_chest.jpg"/></div>
    </div>
    <div class="inner-container">
        <div class="game-back">
            <div class="oops-container">
                <div class="form_container">
                    <div class="formdiv"></div>
                    <div class="formdiv"></div>
                    <h3>You were accidentally teleported to the tavern, how did you get here? Did the wizard Quix send you?
                    Oops!</h3>
                    <div class="formdiv"></div>
                    <div class="formdiv"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>