<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('All posts')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<div class="container-main">
    <h2>&nbsp;&nbsp;&nbsp;Your Search Results:</h2>
    <div class="inner-container">
        <div class="game-container">
            <!-- Content of the page -->
                <div class="container2" th:each="game : ${gameList}">
                    <div class="column-left"><a th:href="'/view-game/'+${game.id}">View Game ></a></div>
                    <div class="column-middle" th:text="${game.name}"></div>
                    <div class="column-right" th:text="${game.description}"></div>
                </div>
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>