<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('All posts')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<div class="container-main">
    <h2>&nbsp;&nbsp;&nbsp;Your Search Results:</h2>
    <div class="inner-container">
        <div class="game-container">
            <!-- Content of the page -->
                <div class="search-list-container" th:each="game : ${gameList}">
                    <div class="column-left"><a th:href="'/view-game/'+${game.id}" th:text="${game.name}"></a></div>
                    <div class="column-middle"><a th:href="'/view-game/'+${game.id}" th:text="${game.description}"></a></div>
                    <div class="column-right"><a th:href="'/view-game/'+${game.id}" th:text="${game.type}"></a></div>
                    <div class="column-rating" th:if="${game.rating} == 0" th:text="'Rated R'"></div>
                    <div class="column-rating" th:if="${game.rating} == 1" th:text="'Rated PG'"></div>
                </div>
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>