<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('RPG Realm')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>

<!-- Content of the page -->
<!--Make the list of characters on the back end. Send it to front end and make checkboxes in the html. Then check
 which ones are checked via a custom ajax request in javascript-->
<div class="title-container">
    <div class="title-column-left" th:text="'Edit Game: '+${game.name}"></div>
    <div class="title-column-right"><img src="/images/main/knight-helmet.jpg"/></div>
</div>
<div class="inner-container">
    <div class="character-container"  sec:authorize="isAuthenticated()">

        <div>
            <h1>You are joining</h1>
            <div th:object="${game}">
                <p th:text="${game.name}"></p>
                <p th:text="${game.description}"></p>
            </div>
            <h1>Please select a character</h1>
        </div>
        <div th:each="character: ${characterList}">
            <h2 th:text="${character.name}"></h2>
            <h3 th:text="${character.type}"></h3>
            <p th:text="${character.description}"></p>
            <input name="characterId" th:value="${character.id}" type="radio" th:text="${character.name}"/>
        </div>

        <input
                id="csrf"
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
        <button id="join-game" type="button">Select this character</button>
        <input
                id="game-id"
                type="hidden"
                th:value="${game.id}"
        />

        <script th:inline="javascript">
            function joinGame() {
                var id=$('#game-id').val()
                $.ajax("/join-game", {
                    type: "POST",
                    data:{
                        gameId:id,
                        characterId: $('input[type=radio]:checked').val(),
                        _csrf: $("#csrf").val()
                    }
                }).done(function () {

                    window.location="/view-game/"+id;
                });
            }
            document.getElementById('join-game').addEventListener('click', joinGame);
        </script>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>