<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: main-header('All posts')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>

<!-- Content of the page -->
<!--Make the list of characters on the back end. Send it to front end and make checkboxes in the html. Then check
 which ones are checked via a custom ajax request in javascript-->
<div>

    <h1>You are joining</h1>
    <div th:object="${game}">
        <p th:text="${game.name}"></p>
        <p th:text="${game.description}"></p>
    </div>
    <h1>Please select a character</h1>
    <form th:action="'/join-game/'+${game.id}" method="post" th:object="${character}">
        <div th:each="character: ${characterList}">
            <h2 th:text="${character.name}"></h2>
            <h3 th:text="${character.type}"></h3>
            <p th:text="${character.description}"></p>
            <input type="checkbox" class="form_fields" th:field="*{id}"/>
        </div>
        <input type="submit" value=" Submit and Register &nbsp;" class="form_fields"/>
    </form>

</div>

<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>