<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('All posts')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<div class="container-main">
    <div class="title-container">
        <div class="title-column-left">Select a Player for the Game:</div>
        <div class="title-column-right"><img src="/images/main/small-sword.jpg"/></div>
    </div>
    <div class="inner-container">
        <div class="user-container"  sec:authorize="isAuthenticated()">
            <div class="form_container">
                <!-- Content of the page -->
                <div th:object="${user}">
                    SELECT PLAYER CONTENT GOES HERE
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>