<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('RPG Realm')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<div class="container-main">
    <div class="title-container">
        <div class="title-column-left" th:text="${user.first_name+'''s User Profile'}"></div>
        <div class="title-column-right"><img src="/images/main/small-sword.jpg"/></div>
    </div>
    <div class="inner-container">
        <div class="user-container" sec:authorize="isAuthenticated()">
            <div class="form_container">
                <!-- Content of the page -->
                <div th:object="${user}">
                    <div class="user-photo-container">
                        <img id="user-photo" class="user-photo" th:if="${profilePhoto !=null}"
                             th:object="${profilePhoto}"
                             th:src="*{file_url}" th:alt="*{file_name}"/>
                        <img id="user-photo" class="user-photo" th:if="${profilePhoto == null}" th:alt="'No Photo'"
                             src="/images/main/large-shield.jpg"/>
                    </div>
                    <br/>
                    <span id="upload-status"></span>
                    <h3 th:text="'Username: '+*{username}"></h3>

                    <!--If you put in a first name put in a last name-->
                    <h3 th:if="*{first_name==null}">First Name Last Name</h3>
                    <h3 th:if="*{first_name!=null}" th:text="'Name: '+*{first_name}+' '+*{last_name}"></h3>

                    <h3 th:if="*{address_1==null}">Address</h3>
                    <h3 th:if="*{address_1!=null}" th:text="'Address: '+*{address_1}"></h3>

                    <!--If you put in a city, put in state and zipcode-->
                    <h3 th:if="*{city==null}">City, State Zip Code</h3>
                    <h3 th:if="*{city!=null}" th:text="*{city}+', '+*{state}+' '+*{zip_code}"></h3>

                    <h3 th:if="*{phone==null}">Phone Number</h3>
                    <h3 th:if="*{phone!=null}" th:text="'Phone: '+*{phone}"></h3>
                </div>

                <div class="formdiv"></div>
                <div class="formdiv"></div>

                <div class="glow-button">
                    <a th:href="'/user-profile/edit/'+${user.id}">Edit User Profile</a>
                </div>
                <div class="glow-button">
                    <a href="/view-game/all">View Your Games</a>
                </div>
                <div class="glow-button">
                    <a href="/user-character">View Characters</a>
                </div>
                <!-- Filestack -->
                <div class="formdiv"></div>
            </div>
        </div>
    </div>
</div>
<input
        id="csrf"
        type="hidden"
        th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}"/>
<footer th:include="fragments/footer :: footer"></footer>

<script src="https://static.filestackapi.com/v3/filestack.js"></script>
<script th:inline="javascript">
    var fsClient = filestack.init('AEI1UqHQ4QfmBMMZ6KMFmz');

    function openPicker() {
        fsClient.pick({
            fromSources: ["local_file_system", "url", "imagesearch", "googledrive"],
            accept: ["image/*"],
            transformations: {
                crop: {
                    force: true,
                    aspectRatio: 1
                }
            },
            maxSize: 2000000
        }).then(function (response) {

// console log the output
            console.log(response);
            console.log(response.filesUploaded[0].url);

            console.log(/*[[${_csrf.token}]]*/);
            console.log(/*[[${_csrf.parameterName}]]*/);
            var url = response.filesUploaded[0].url;
            var mimetype = response.filesUploaded[0].mimetype;
            var filename = response.filesUploaded[0].filename;
// Send ajax to file-upload controller
            $.ajax({
                type: "POST",
                url: "/upload-file/user-profile",
                data: {
                    response: url,
                    _csrf: /*[[${_csrf.token}]]*/,
                    mimetype: mimetype,
                    filename: filename
                }
            }).done(function () {
                $("#upload-status").html("File Uploaded Successfully");
                console.log("File was uploaded");
                $("#user-photo").fadeOut(100).delay(400);
                $("#user-photo").attr("src", url).delay(400).fadeIn(500);
            });
        });

    }

    $("#user-photo").click(openPicker);

    (function () {
        $("#user-photo").mouseover(function () {
            $("#upload-status").html("&nbsp;&nbsp; Change Profile Image");
        });
        $("#user-photo").mouseleave(function () {
            $("#upload-status").html("");

        });
    })();
</script>
</body>
</html>