<html xmlns:th="http://www.thymeleaf.org" lang="en"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('All posts')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<div class="container-main" sec:authorize="isAuthenticated()">
	<h2></h2>
	<div class="inner-container">
		<div class="user-container">
			<div class="form_container">
				<!-- Content of the page -->
				<div th:object="${user}">
					<h2>User Profile</h2>
					<h3 th:text="*{username}"></h3>
					<h3 th:text="*{first_name}+' '+*{last_name}"></h3>
					<h3 th:text="*{address_1}"></h3>
					<h3 th:text="*{city}+', '+*{state}+' '+*{zip_code}"></h3>
					<h3 th:text="*{phone}"></h3>
					<a th:href="'/user-profile/edit/'+*{id}">Edit Profile</a>
					<a href="/view-game/all"><h3>View Your Games</h3></a>
					<a href="/user-character"><h3>View Your Characters</h3></a>
				</div>
			</div>
		</div>
	</div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>