<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: main-header('All posts')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>

<!-- Content of the page -->
<div>
	<h1>User Profile</h1>
	<h3>Chase Hammock</h3>
	<h3>1983 Oakwell Farms Pkwy. APT 416</h3>
	<h3>San Antonio, Texas, 78218</h3>
	<h3>512-501-0416</h3>
	<a href="/search_games?chase837"><h3>View Your Games</h3></a>
	<a href="/view_character?chase837"><h3>View Your Character</h3></a>


</div>

<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>