<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: main-header('All posts')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<!-- Content of the page -->
<div class="container-main">
	<h2>Please Register and Create Your Account :</h2>
	<div class="inner-container">
		<div class="registration-container">
			<div class="form_container">
				<form>
					<div class="row">
						<div class="column">Username:</div>
						<div class="column"><input type="text" name="username" class="form_fields"/></div>
					</div>
					<div class="row">
						<div class="column">Password:</div>
						<div class="column"><input type="password" name="password" class="form_fields"/></div>
					</div>
					<div class="row">
						<div class="column">First Name:</div>
						<div class="column"><input type="text" name="first_name" class="form_fields"/></div>
					</div>
					<div class="row">
						<div class="column">Last Name:</div>
						<div class="column"><input type="text" name="last_name" class="form_fields"/></div>
					</div>
					<div class="row">
						<div class="column">Phone:</div>
						<div class="column"><input type="text" name="phone" class="form_fields"/></div>
					</div>
					<div class="row">
						<div class="column">Address:</div>
						<div class="column"><input type="text" name="address_2" class="form_fields"/></div>
					</div>
					<div class="row">
						<div class="column">Address II:</div>
						<div class="column"><input type="text" name="address_2" class="form_fields"/></div>
					</div>
					<div class="row">
						<div class="column">City:</div>
						<div class="column"><input type="text" name="city" class="form_fields"/></div>
					</div>
					<div class="row">
						<div class="column">State:</div>
						<div class="column"><input type="text" name="state" class="form_fields"/></div>
					</div>
					<div class="row">
						<div class="column">Zip Code:</div>
						<div class="column"><input type="text" name="zip_code" class="form_fields"/></div>
					</div>
					<div class="row">
						<div class="column">Birth Date:</div>
						<div class="column"><input type="text" name="birth_date" class="form_fields"/></div>
					</div>
					<div class="row">
						<div class="column">Time Zone:</div>
						<div class="column"><input type="text" name="time_zone" class="form_fields"/></div>
					</div>
					<div class="row">
						<div class="column"></div>
						<div class="column"><input type="submit" value=" Submit and Register &nbsp;" class="form_fields"/></div>
					</div>
				</form>
			</div>
		</div>

		// end of inner-container
	</div>

</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>
