<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('RPG Realm')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<div class="container-main">
    <div class="title-container">
        <div class="title-column-left" th:text="'Edit Character: '+${character.name}"></div>
        <div class="title-column-right"><img src="/images/main/treasure_chest.jpg"/></div>
    </div>
    <div class="inner-container">
        <div class="game-container" sec:authorize="isAuthenticated()">
        <div th:object="${character}">
            <h3 th:text="*{name}"></h3>
            <h4 th:text="*{type}"></h4>
            <div class="character-photo-container">
                <img id="character-photo" class="character-photo" th:if="${portrait !=null}" th:object="${portrait}"
                     th:src="*{file_url}" th:alt="*{file_name}"/>
                <img id="character-photo" class="character-photo" th:if="${portrait == null}" th:alt="'No Photo'"
                     src="/images/main/small-shield.jpg"/>
            </div>
            <div class="character-pdf-container">
                <a id="character-pdf" th:if="${pdf !=null}" th:object="${pdf}" th:href="*{file_url}" >Character sheet</a>
                <a id="character-pdf" th:if="${pdf ==null}"  href="#" >Upload a character sheet to view it</a>
            </div>

            <p th:text="*{description}"></p>
            <a th:href="'/edit-character/'+*{id}">Edit Character</a>
        </div>
    </div>
        <div>
            <button type="button" label="Upload a PDF or Image:" class="glow_button" id="upload">Upload
                File
            </button>
        </div>
        <div id="upload-status"></div>
    </div>
</div>
<input
        id="csrf"
        type="hidden"
        th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}"/>
<footer th:include="fragments/footer :: footer"></footer>
<script src="https://static.filestackapi.com/v3/filestack.js"></script>
<script th:inline="javascript">
    var fsClient = filestack.init('AEI1UqHQ4QfmBMMZ6KMFmz');

    function openPicker() {
        fsClient.pick({
            fromSources: ["local_file_system", "url", "imagesearch", "googledrive"],
            accept: ["image/*",".pdf"],
            transformations: {
                crop: {
                    force: true,
                    aspectRatio: 1
                }
            },
            maxSize: 2000000
        }).then(function (response) {

// console log the output
            console.log(response);
            console.log(response.filesUploaded[0].url);

            console.log(/*[[${_csrf.token}]]*/);
            console.log(/*[[${_csrf.parameterName}]]*/);
            var url = response.filesUploaded[0].url;
            var mimetype = response.filesUploaded[0].mimetype;
            var filename = response.filesUploaded[0].filename;
// Send ajax to file-upload controller
            $.ajax({
                type: "POST",
                url: "/upload-file/character-files",
                data: {
                    response: url,
                    characterId: /*[[${character.id}]]*/,
                    _csrf  : /*[[${_csrf.token}]]*/,
                    mimetype : mimetype,
                    filename: filename
                }
            }).done(function () {
                $("#upload-status").html("File Uploaded Successfully");
                console.log("File was uploaded");
                if(mimetype=="image/jpeg") {
                    $("#character-photo").fadeOut(400);
                    $("#character-photo").attr("src", url).delay(3000).fadeIn(3000);
                }else if(mimetype=="application/pdf") {
                    $("#character-pdf").attr("href", url).html("Character Sheet");

                }
            });
        });

    }

    $("#upload").click(openPicker);

</script>
</body>
</html>
