<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('All posts')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<div class="container-main">
    <div class="title-container">
        <div class="title-column-left" th:text="'Edit Character: '+${character.name}"></div>
        <div class="title-column-right"><img src="/images/main/treasure_chest.jpg"/></div>
    </div>
    <div class="inner-container">
        <div class="game-container" sec:authorize="isAuthenticated()">
        <div th:object="${character}">
            <h3 th:text="*{name}"></h3>
            <h4 th:text="*{type}"></h4>
            <h4>(Photo of Character)</h4>
            <p th:text="*{description}"></p>
            <a th:href="'/edit-character/'+*{id}">Edit Character</a>
        </div>
    </div>
    </div>
</div>

<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>
