<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: main-header('All posts')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<!-- Content of the page -->
<div class="container-main">
    <h2>View Active Campaign</h2>
    <div class="inner-container">
        <div class="game-container">
            <div th:object="${game}">
                <p th:text="${game.name}"></p>
                <p th:text="${game.description}"></p>
                <a th:href="'/edit-game/'+${game.id}">Edit Link</a>
                <a th:href="'/join-game/'+${game.id}">Join the game!</a>
            </div>
          <div>
					<button type="button" label="Upload a PDF or Image:" class="glow_button" id="upload" />
				</div>
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>

<script th:inline="javascript">
    $.ajax({
        type: "POST",
        url: "/file-upload",
        data: response,
        success: request.getElementById("upload-status").innerHTML = "File Uploaded Successfully",
        dataType: "json"
    })
    var gameId = [[${gameid}]];
	  console.log(gameId);
</script>

</body>
</html>
