<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-header('All posts')"></head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<!-- Content of the page -->
<div class="container-main">
    <div class="title-container">
        <div class="title-column-left" th:text="'View Active Campaign: '+${game.name}"></div>
        <div class="title-column-right"><img src="/images/main/small-scroll.jpg"/></div>
    </div>
    <div class="inner-container">
        <div class="game-container">

            <div th:object="${game}">
                <p th:text="${game.name}"></p>
                <p th:text="${game.description}"></p>
                <a th:href="'/edit-game/'+${game.id}">Edit Link</a>
                <select name="character-select" id="character-select" class="select">
                    <div th:each="character: ${userCharacterList}">
                        <option th:text="${character.name} +' '+ ${character.type}" th:value="${character}"></option>
                    </div>
                </select>
                <button type="button" id="join-game">Join game</button>
            </div>
            <div>
                <button type="button" label="Upload a PDF or Image:" class="glow_button" id="upload">Upload
                    File
                </button>
            </div>
            <div id="upload-status"></div>
            <div id="character-list" th:each="character: ${characterList} "><!--Active characters-->
                <h4 th:text="${character.name}"></h4>
                <h6 th:text="${hashUser.get(character)}"></h6>
                <img th:if="${hashPic.containsKey(character)}" th:src="${hashPic.get(character)}"/>
                <img th:if="${!hashPic.containsKey(character)}" src="/images/main/small-sword.jpg"/>
            </div>
        </div>
    </div>
</div>
<input
        id="csrf"
        type="hidden"
        th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}"/>

<footer th:include="fragments/footer :: footer"></footer>
<script src="https://static.filestackapi.com/v3/filestack.js"></script>
<script th:inline="javascript">

    var fsClient = filestack.init('AEI1UqHQ4QfmBMMZ6KMFmz');

    function openPicker() {
        fsClient.pick({
            fromSources: ["local_file_system", "url", "imagesearch", "googledrive"],
            accept: ["image/*"],
            transformations: {
                crop: {
                    force: true,
                    aspectRatio: 1
                }
            },
            maxSize: 2000000
        }).then(function (response) {

// console log the output
            console.log(response);
            console.log(response.filesUploaded[0].url);
            console.log("here is the game ID: " + /*[[${game.id}]]*/);
            console.log(/*[[${_csrf.token}]]*/);
            console.log(/*[[${_csrf.parameterName}]]*/);
            var url = response.filesUploaded[0].url;
            var mimetype = response.filesUploaded[0].mimetype;
            var filename = response.filesUploaded[0].filename;
// Send ajax to file-upload controller
            $.ajax({
                type: "POST",
                url: "/upload-file",
                data: {
                    response: url,
                    gameId: /*[[${game.id}]]*/,
                    _csrf: /*[[${_csrf.token}]]*/,
                    mimetype: mimetype,
                    filename: filename
                },

                success: "File upload completed successfully",
                dataType: "json"


            }).done(function () {
                request.getElementById("upload-status").innerHTML = "File Uploaded Successfully";
            });
        });
    }

    document.getElementById("upload").addEventListener("click", function () {
        openPicker();
    });

    function joinGame(){
        $.ajax({
            type: "POST",
            url: "/join-game",
            data: {
                characterId: /*[[${character.id}]]*/,
                gameId: /*[[${game.id}]]*/,
                _csrf: /*[[${_csrf.token}]]*/
            }
        }).done(function () {
            $('#join-game').html('');
            $('#select-character').html('');
            $('#character-list').append()


        });
    }
    document.getElementById("join-game").addEventListener("click", function () {
        joinGame();
    });

</script>

</body>
</html>

<h4 th:text="${character.name}"></h4>
<h6 th:text="${hashUser.get(character)}"></h6>
<img th:if="${hashPic.containsKey(character)}" th:src="${hashPic.get(character)}"/>